@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* min-height: 100vh; */
  background: #000;
  color: #fff;
  position: relative;
  font-family: 'Dosis', sans-serif;
}